fastapi[standard]

sqlalchemy
psycopg2-binary

# Hashing & Verify Password strings
passlib
bcrypt==4.0.1

# OAuth Forms
python-multipart

# Creating JWT token
python-jose[cryptography]

pytest
httpx2

alembic
